.face {
	background-image:
		linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.16)),
		url("../../textures/marble.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: soft-light, normal;
}
.face.front {
	filter: saturate(1.03) brightness(1.03);
}
.face.back {
	filter: saturate(0.9) brightness(0.87);
}
.face.left {
	filter: hue-rotate(-3deg) saturate(1.02) brightness(0.95);
}
.face.right {
	filter: hue-rotate(3deg) saturate(1.02) brightness(0.95);
}
.face.top {
	filter: brightness(1.1) saturate(0.95);
}
.face.bottom {
	filter: brightness(0.75) saturate(0.9);
}
